In [29]:
import json
import pandas as pd
import os

In [30]:
files = os.listdir("./")
storage = []
for file in files:
    if file[-5:] == ".json":
        with open(file, mode="r", encoding="UTF-8") as file:
            storage.append(json.load(file))

In [32]:
text_ls = []
start_ls = []
end_ls = []
labels_ls = []
for test in storage:
    for history in test:
        for val in history["annotations"][0]["result"]:
            text_ls.append(val["value"]["text"])
            start_ls.append(val["value"]["start"])
            end_ls.append(val["value"]["end"])
            for label in val["value"]["labels"]:
                labels_ls.append(label)

In [33]:
print(len(text_ls))
print(len(start_ls))
print(len(end_ls))
print(len(labels_ls))

38867
38867
38867
38867

In [34]:
df = pd.DataFrame(columns=["text", "label", "start", "end"])
df["text"] = text_ls
df["label"] = labels_ls
df["start"] = start_ls
df["end"] = end_ls

In [35]:
df

,text,label,start,end
0,1 марта 2006 года,Личные параметры,109,126
1,19 лет,Личные параметры,34,40
2,мужской,Личные параметры,47,54
3,русский,Личные параметры,72,79
4,затрудненное носовое дыхание,Симптомы,180,208
...,...,...,...,...
38862,продигиозан,Лекарство,9572,9583
38863,5-10,Значение,9604,9608
38864,нафталановая,Лекарство,9610,9622
38865,"эуфилиновая мази, кремы с 0,5% метотриксатом",Лекарство,9624,9668
38866,АД,Анализ,3930,3932

In [37]:
df.to_csv("./data.csv", index=None)